<!-- Navbar Meduim to large Screens -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand p-2 fs-6" routerLink="/">
        CoMute
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav  mb-2 mb-lg-0 align-items-center">
          <li class="nav-item p-2" *ngIf="isUserAuthenticated()">
            <a class="nav-link" routerLink="/home" >Home</a>
          </li>
          <li class="nav-item p-2" *ngIf="!isUserAuthenticated()">
            <a class="nav-link"  routerLink="/login" >Login</a>
          </li>
          <li class="nav-item p-2" *ngIf="!isUserAuthenticated()">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
          <li class="nav-item p-2" *ngIf="isUserAuthenticated()">
            <a class="nav-link" routerLink="/register">Leave</a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link fab fa-twitter fs-6" routerLink="/register"></a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link fab fa-facebook fs-6" routerLink="/register"></a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link fab fa-instagram fs-6" routerLink="/register"></a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link fab fa-linkedin fs-6" routerLink="/register"></a>
          </li>
        </ul>
      </div>
    </div>
</nav>
